/*--------------------------------------*/
/* -- formatting of the whole body  -- */
/*--------------------------------------*/
.body {
  background-color: white;
  font-family: HelveticaNeue-Light;
}



/*--------------------------------------*/
/* -- header with the logo           -- */
/*--------------------------------------*/
.header {
  overflow: auto;
  text-align:center;

  background-image: url("res/banner.png");

  height:140px;
  width: 800px;

  margin-left: auto;
  margin-right: auto;

  padding-top: 0.7em;

}

/*--------------------------------------*/
/* -- navigation below the header    -- */
/*--------------------------------------*/
.navigation {
  overflow: auto;
  text-align:center;

  background-color: #80CBC4;

  height:2em;
  width: 50em;

  /* for centering the text vertically*/
  line-height: 2em;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;

}

/*--------------------------------------*/
/* -- navigation element "home  "    -- */
/*--------------------------------------*/
.navigationHome {
  display:inline;

  margin-left: 17em;

  float:left;
  clear:left;

}

/*--------------------------------------*/
/* -- navigation element "about"     -- */
/*--------------------------------------*/
.navigationAbout {
  display:inline;

  float:center;

}

/*--------------------------------------*/
/* -- navigation element "contact"   -- */
/*--------------------------------------*/
.navigationContact {
  display:inline;

  margin-right: 17em;

  float:right;
  clear:right;

}


/*--------------------------------------*/
/* -- Middle Block: Insert new todo  -- */
/*--------------------------------------*/
.insert {
  overflow: auto;
  text-align:left;

  background-color: #80CBC4;

  height:10em;
  width: 50em;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;

}

.insert-element-description {
  display:inline;

  margin-left: 1.8em;
  margin-top: 0.8em;

  float:left;
  clear:left;
}

.insert-element-description-text {
  display:inline;


  margin-top: 0.8em;

  float:left;
  clear:left;
}

.insert-element-date {
  display:inline;

  margin-left: 2em;
  margin-top: 0.8em;

  float:left;
  clear:left;
}

.insert-element-date-text {

  margin-top: 1em;

  float:left;
  clear:left;
}

.insert-element-prio {
  display:inline;

  margin-top: 0.8em;

  float:left;

}

.insert-element-prio-text {
  display:inline;

  margin-left: 3em;
  margin-top: 1em;

  float:left;

}

.insert-element-button {
  display:inline;

  margin-left: 3em;
  margin-top: 2.7em;

  float:left;
}

/*--------------------------------------*/
/* -- Lower Block: todo list         -- */
/*--------------------------------------*/
/* -- For showing the list of the todo's -- */
.todo-list {
  overflow: auto;
  background-color: #80CBC4;

  height:30em;
  max-height: 30em;
  width: 50em;

  margin-left: auto;
  margin-right: auto;

}

/*--------------------------------------*/
/* -- Contains the TODOs without HDR -- */
/*--------------------------------------*/
.todo-list-content {
  overflow: auto;

  max-height: 27.5em;

}

/*--------------------------------------*/
/* -- For showing an individual todo -- */
/*--------------------------------------*/
.todo-list-element {
  overflow: auto;
  /* make div not scrollable */
  overflow-y: hidden;

  text-align:left;

  padding-top: 0.5em;
  padding-left: 1.5em;
  padding-right: 1em;
  padding-bottom: 0.5em;

  border-bottom-style: dotted;
}

/* -- For showing the checkbox of a todo-- */
.todo-list-element-checkbox {
  display:inline;

  /* in order to make the parent not overflow this checkbox */
  height: 13px;

  /*margin-left: 0.5em; */

  float:left;
  clear:left;
}

/* -- For showing the description of a todo -- */
.todo-list-element-description {
  display:inline;

  float:left;

  margin-left: 2em;
}

/* -- For showing the prio of a todo-- */
.todo-list-element-prio {
  display:inline;

  float:right;
}

/* -- For showing the due date of a todo -- */
.todo-list-element-date {
  display:inline;

  padding-left: 3em;

  float:right;
}

/* -- For showing delete icon -- */
.todo-list-element-delete {
  display:inline;

  padding-left: 2.8em;
  padding-right: 0em;


  float:right;
  clear:right;
}

/*--------------------------------------*/
/* -- For showing an individual todo -- */
/*--------------------------------------*/
.todo-list-element-hdr {
  overflow: auto;
  /* make div not scrollable */
  overflow-y: hidden;

  text-align:left;

  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;

  border-bottom-style: dotted;
}

/*-----------------------------------*/
/* -- HDR list elements           -- */
/*-----------------------------------*/
/* -- For showing an individual todo -- */
.todo-list-element-hdr {
  overflow: auto;
  /* make div not scrollable */
  overflow-y: hidden;

  text-align:left;

  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;

  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
}

/* -- For showing the checkbox of a todo-- */
.todo-list-element-checkbox-hdr {
  display:inline;

  /* in order to make the parent not overflow this checkbox */
  height: 13px;

  float:left;
  clear:left;
}

/* -- For showing the description of a todo -- */
.todo-list-element-description-hdr {
  display:inline;

  float:left;

  margin-left: 1.5em;
}

/* -- For showing the prio of a todo-- */
.todo-list-element-prio-hdr {
  display:inline;

  float:right;
}

/* -- For showing the due date of a todo -- */
.todo-list-element-date-hdr {
  display:inline;

  padding-left: 2.5em;

  float:right;
}

/* -- For showing delete icon -- */
.todo-list-element-delete-hdr {
  display:inline;

  padding-left: 2.5em;

  float:right;
  clear:right;
}

/*--------------------------------------*/
/* -- About.html                     -- */
/*--------------------------------------*/
.about {
  overflow: auto;
  text-align:center;

  background-color: #80CBC4;

  height:5em;
  width: 50em;

  /* for centering the text vertically*/
  line-height: 5em;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

/*--------------------------------------*/
/* -- Contact.html                   -- */
/*--------------------------------------*/
.contact {
  overflow: auto;
  text-align:center;

  background-color: #80CBC4;

  height:5em;
  width: 50em;

  /* for centering the text vertically*/
  line-height: 5em;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

/*--------------------------------------*/
/* -- Common used                    -- */
/*--------------------------------------*/

/* --  LINK STYLES                   -- */

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

/* -- Footer -- */
.footerContainer {
  overflow: auto;

  height: 3em;
  width: 99.2%;
  position:fixed;
  bottom:0em;

  padding-top: 1.5em

}

.footer {
  overflow: auto;
  text-align:center;

  height: 3em;
  width: 50em;

  /* for centering the text vertically*/
  line-height: 3em;

  background-color: #80CBC4;

  margin-left: auto;
  margin-right: auto;

}
