/*--------------------------------------*/
/* -- Middle Block: Insert new todo  -- */
/*--------------------------------------*/
.header {
  overflow: auto;
  text-align:center;

  background-color: #CEE3F6;

  height:6em;
  width: 50em;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;

}

/*--------------------------------------*/
/* -- Middle Block: Insert new todo  -- */
/*--------------------------------------*/
.insert {
  overflow: auto;
  text-align:left;

  background-color: #CEE3F6;

  height:5em;
  width: 50em;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;

}

.insert-element-description {
  display:inline;

  margin-left: 1.8em;
  margin-top: 0.8em;

  float:left;
  clear:left;
}

.insert-element-date {
  display:inline;

  margin-left: 2em;
  margin-top: 0.8em;

  float:left;

}

.insert-element-button {
  display:inline;

  margin-right: 1.8em;
  margin-top: 2em;

  float:right;
  clear:right;
}


/*--------------------------------------*/
/* -- Lower Block: todo list         -- */
/*--------------------------------------*/
/* -- For showing the list of the todo's -- */
.todo-list {
  overflow: auto;

  background-color: #CEE3F6;

  height:30em;
  max-height: 30em;
  width: 50em;

  margin-left: auto;
  margin-right: auto;

}

/*--------------------------------------*/
/* -- For showing an individual todo -- */
/*--------------------------------------*/
.todo-list-element {
  overflow: auto;
  /* make div not scrollable */
  overflow-y: hidden;

  text-align:center;

  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;

  border-bottom-style: dotted;
}

/* -- For showing the checkbox of a todo-- */
.todo-list-element-checkbox {
  display:inline;

  /* in order to make the parent not overflow this checkbox */
  height: 13px;

  margin-left: 0.5em;

  float:left;
  clear:left;
}

/* -- For showing the description of a todo -- */
.todo-list-element-description {
  display:inline;

  float:left;

  margin-left: 2em;
}

/* -- For showing the due date of a todo -- */
.todo-list-element-date {
  display:inline;

  float:right;
}

/* -- For showing delete icon -- */
.todo-list-element-delete {
  display:inline;

  padding-left: 2.8em;
  padding-right: 0.5em;

  float:right;
  clear:right;
}

/*-----------------------------------*/
/* -- HDR list elements           -- */
/*-----------------------------------*/
/* -- For showing an individual todo -- */
.todo-list-element-hdr {
  overflow: auto;
  /* make div not scrollable */
  overflow-y: hidden;

  text-align:center;

  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;

  border-bottom-style: solid;
}

/* -- For showing the checkbox of a todo-- */
.todo-list-element-checkbox-hdr {
  display:inline;

  /* in order to make the parent not overflow this checkbox */
  height: 13px;

  float:left;
  clear:left;
}

/* -- For showing the description of a todo -- */
.todo-list-element-description-hdr {
  display:inline;

  float:left;

  margin-left: 1.5em;
}

/* -- For showing the due date of a todo -- */
.todo-list-element-date-hdr {
  display:inline;

  float:right;
}

/* -- For showing delete icon -- */
.todo-list-element-delete-hdr {
  display:inline;

  padding-left: 2.5em;

  float:right;
  clear:right;
}

/*--------------------------------------*/
/* -- Common used                    -- */
/*--------------------------------------*/
